.profile{
    margin-top: 45px;
    .main__title.title{
        letter-spacing: 1px;
    }
    .main__btn-container{
        margin-top: 25px;
        .login-btn{
            padding: 13px 37px;
        }
    }
}